@use '~layout'as layout;
@use '~styling'as styling;

.page {
    @include layout.flex-between(false, true);
    @include layout.fullsize;

    .page-header {
        @include layout.flex-between(true);

        padding: 10px 20px;

        >.heading {
            @include styling.rounded(20px);
            padding: 5px 10px;
        }

        .router-nav {
            >.router-nav-list {
                @include layout.flex-even(true);

                >.router-nav-item {
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    .page-body {
        @include layout.flex(false, true);
        @include layout.tall;

        padding: 50px;

        .page-main,
        .markdown-renderer {
            @include layout.tall;

            padding: 20px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                padding: 20px 10px;
            }

            blockquote {
                padding: 20px;
            }

            hr {
                margin: 20px 0;
            }

            p {
                padding: 10px 0;
            }

            a {
                text-decoration: none;
            }
        }
    }

    .page-footer {
        text-align: center;
        padding: 10px 20px;
        font-size: 0.8em;
    }
}